:root {
  --secondary-green: #0a664b;
  --primary-green: #0d8360;
  --text-primary-color: #ffffff;
  --text-sponsor-header-color: #656565;

  /* ff-primary-bold: font-family: HarmoniaSansW01-Bold; */
  /* ff-primary: HarmoniaSansW01-Regular; */
}

/* Font Import */

@font-face {
  font-family: "Harmonia Sans Mono Bold";
  src: url("public/Fonts/Harmonia-Sans-Font/Harmonia Sans Mono W01 Bold.otf")
      format("opentype"),
    url("public/Fonts/Harmonia-Sans-Font/Harmonia Sans Mono W01 Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Harmonia Sans Regular";
  src: url("public/Fonts/Harmonia-Sans-Font/Harmonia Sans W01 Regular.otf")
      format("opentype"),
    url("public/Fonts/Harmonia-Sans-Font/Harmonia Sans W01 Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Harmonia Sans Bold";
  src: url("public/Fonts/Harmonia-Sans-Font/Harmonia Sans W01 Bold.otf")
      format("opentype"),
    url("public/Fonts/Harmonia-Sans-Font/Harmonia Sans W01 Bold.ttf")
      format("truetype");
}

/*  https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* Resets font sizes forces us to use proper classes for each element */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*  */
html,
body {
  height: 100%;
  background-color: #0d8360;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  */
/* Header styles */

.header-summary {
  top: 565px;
  width: 518px;
  color: #ffffff;
  font-family: "Harmonia Sans Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

/* Font Styles */
.stories-link {
  font-family: "Harmonia Sans Mono ", sans-serif;
  text-decoration: underline;
}

.acknowledgements-link {
  font-family: "Harmonia Sans Bold", sans-serif;
  text-decoration: underline;
}

/* font sizes */
body {
  font-family: "Harmonia Sans Bold ", sans-serif;
  font-weight: normal;
}

h1 {
  font-family: "Harmonia Sans Mono Bold", sans-serif;
  font-weight: bold;
}
/* Gradient Background Color for Header */
.split-background {
  display: flex;
  flex-direction: column;
  height: 1130px;
  background: linear-gradient(to right, #0d8360 50%, #0a664b 50%);
}

.split-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 0;
  margin-bottom: 60px;
}

.split-header-left {
  display: flex;
  align-items: center;
}

.split-header-left a {
  margin-right: 30px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.split-header-right a {
  margin-left: 30px;
  color: #ffffff;
  font-size: 20px;
}

.split-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: calc(100% - 190px - 320px - 42px - 40px);
  margin: 0 0 60px 20px;
}

.content-left-header-1 {
  margin-top: 60px;
  height: 320px;
  width: 707px;
  color: #ffffff;
  font-family: "Harmonia Sans Bold", sans-serif;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 64px;
  text-align: left;
  margin-bottom: 60px;
}

.content-left-header-1 p {
  font-size: 50px;
  line-height: 60px;
}

.content-left-header-2 {
  margin-bottom: 50px;
  height: 190px;
  width: 676px;
  color: #ffffff;
  font-family: "Harmonia Sans Bold", sans-serif;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 38px;
  text-align: left;
  margin-bottom: 60px;
}

.content-left-header-2 p {
  font-size: 24px;
  line-height: 28px;
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* Archives Content Section */

.gay-lesbian-container {
  background-color: #0d8360;
}

.gl-content-wrapper {
  background-color: #0d8360;
  margin: 60px 150px 100px;
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  width: 50%;
  display: flex;
  justify-content: center;
}

.left-column img {
  width: 100%;
  max-width: 500px;
  height: auto;
  color: #0d8360;
}

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.right-header {
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
}

.description {
  height: auto;
  font-weight: 100;
  width: 100%;
  max-width: 500px;
  font-family: "Harmonia Sans Regular";
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0;
  color: #fff;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .gl-content-wrapper {
    flex-direction: column;
    margin: 60px 30px 100px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    max-width: 100%;
  }
}

/* Participants section styles */
.participants {
  padding: 50px;
  background-color: #0d8360;
}

.participants h2 {
  color: #ffffff;
  font-family: "Harmonia Sans Bold";
  font-size: 64px;
  letter-spacing: 0;
  line-height: 68px;
  padding-bottom: 64px;
  margin: 0;
}

.participants-table {
  border-collapse: collapse;
  margin-top: 64px;
  width: 100%;
  color: white;
}

.participants-table td,
.participants-table th {
  text-align: left;
  padding: 8px;
  font-family: "Harmonia Sans Regular";
  color: #fff;
}

.participants-table th {
  background-color: #222;
  font-weight: bold;
  text-align: center;
}

.participants-table td {
  border: none;
}

@media screen and (max-width: 768px) {
  /* Adjust table layout for smaller screens */
  .participants-table td,
  .participants-table th {
    font-size: 14px;
    padding: 4px;
  }

  .participants h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 32px;
  }
}

/* Sponsor Section */

.sponsors-section {
  margin-top: 90px;
  width: 100%;
  background-color: white;
  color: #0d8360;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.sponsors-header,
.donations-header,
.sponsors-row {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.sponsors-header {
  font-size: 40px;
  font-family: "Harmonia Sans Bold";
  margin-bottom: 60px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors-header h2 {
  margin-bottom: 60px;
}

.sponsors-header img {
  display: block;
  margin: 2px;
}

.donations-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.donations-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .donations-images {
    flex-direction: column;
    align-items: center;
  }
}

.donations-images img {
  margin-right: 30px;
}

.sponsors-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

h4 {
  font-family: "Harmonia Sans Regular";
  white-space: nowrap;
}

.sponsors-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  flex-basis: 20%;
}

.sponsors-column img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

/* Set width of first row */
.sponsors-row:first-child {
  width: 85%;
}

/* Set width of second row */
.sponsors-row:not(:first-child) {
  width: 70%;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .sponsors-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .sponsors-column {
    margin: 20px 0;
    flex-basis: 50%;
  }
}

/* Footer section styles */
/* Footer section styles */
.footer {
  background-color: #0d8360;
  font-family: "Harmonia Sans Regular";
  display: flex;
  flex-direction: column;
  height: 360px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 0 16px;
  position: relative;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 12px;
  left: 16px;
  right: 16px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-image-wrapper {
  position: absolute;
  bottom: 60px;
  left: 0;
}

.footer-image {
  width: 118px;
  height: 90px;
  opacity: 0.7;
  margin-bottom: -22px;
}

.footer-line {
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 160px;
  left: 16px;
  right: 16px;
}

.back-to-top {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: absolute;
  bottom: 200px;
  right: 18px;
}

.back-to-top .arrow-up {
  margin-bottom: 4px;
}

.back-to-top p {
  margin: 0;
}

/* Media Queries  */
/* Header Section */

@media only screen and (max-width: 767px) {
  .split-background {
    height: auto;
  }

  .split-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .split-header-left {
    margin-bottom: 20px;
  }

  .split-header-left a {
    margin-right: 0;
    font-size: 16px;
  }

  .split-header-right {
    margin-top: 20px;
  }

  .split-content {
    height: auto;
    margin: 20px;
  }

  .the-following-indivi {
    height: auto;
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  .we-acknowledge-that {
    height: auto;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .bottom-left-image {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .split-header-left a {
    font-size: 18px;
  }

  .the-following-indivi {
    font-size: 50px;
    line-height: 56px;
  }

  .we-acknowledge-that {
    font-size: 30px;
    line-height: 34px;
  }
}

@media only screen and (min-width: 1024px) {
  .split-background {
    height: 1130px;
  }

  .split-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 0;
  }

  .split-header-left a {
    margin-right: 30px;
    font-size: 20px;
  }

  .split-header-right {
    margin-top: 0;
  }

  .split-content {
    height: calc(100% - 190px - 320px - 42px - 40px);
    margin: 42px 0 40px 20px;
  }

  .the-following-indivi {
    height: 320px;
    width: 707px;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
  }

  .we-acknowledge-that {
    height: 190px;
    width: 676px;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
  }

  .bottom-left-image {
    margin-top: 0;
  }
}
